
doctype html
html
  head
    title PLAYKUBO HOTSPOT 
  body(style='background-color:#efefef;line-height: 30px; /* 4px +12px + 4px */;font-family: Helvetica, Arial, Sans-Serif;background-repeat: no-repeat;background-attachment: fixed;background-position: 100vh 0vw;color:#333;margin:0px;padding:1vw;widht:100%;height:100%;background-image: url(/sponsor.jpeg);')
    div(style='width:50%;')
        h1 PLAYKUBO HOTSPOT 
        img(style='width:5vw',src="/wifi-off.svg")
        p
            h2 Do you accept the our WIFI Terms and Conditions?
            - wifi_accept_agree="0"
            input(type="radio", name="wifi_accept_agree", value="1", checked=wifi_accept_agree)
            | Yes
            input(type="radio", name="wifi_accept_agree", value="0", checked=wifi_accept_agree)
            | No

        h4 WIFI Terms and Conditions

        h5 Terms and Conditions

        p. 
            By using our internet service, you hereby expressly acknowledge and agree that there are significant security, privacy and confidentiality risks inherent in accessing or transmitting information through the internet, whether the connection is facilitated through wired or wireless technology. Security issues include, without limitation, interception of transmissions, loss of data, and the introduction or viruses and other programs that can corrupt or damage your computer.

        p.
            Accordingly, you agree that the owner and/or provider of this network is NOT liable for any interception or transmissions, computer worms or viruses, loss of data, file corruption, hacking or damage to your computer or other devices that result from the transmission or download of information or materials through the internet service provided.

        p. 
            Use of the wireless network is subject to the general restrictions outlined below. If abnormal, illegal, or unauthorized behavior is detected, including heavy consumption of bandwidth, the network provider reserves the right to permanently disconnect the offending device from the wireless network.

        p. 
            Examples of Illegal Uses

        p. 
            The following are representative examples only and do not comprise a comprehensive list of illegal uses:

        p. 
            Spamming and invasion of privacy - Sending of unsolicited bulk and/or commercial messages over the Internet using the Service or using the Service for activities that invade another's privacy.
        p. 
            Intellectual property right violations - Engaging in any activity that infringes or misappropriates the intellectual property rights of others, including patents, copyrights, trademarks, service marks, trade secrets, or any other proprietary right of any third party.
        p. 
            Accessing illegally or without authorization computers, accounts, equipment or networks belonging to another party, or attempting to penetrate/circumvent security measures of another system. This includes any activity that may be used as a precursor to an attempted system penetration, including, but not limited to, port scans, stealth scans, or other information gathering activity.
        p. 
            The transfer of technology, software, or other materials in violation of applicable export laws and regulations.
        p. 
            Export Control Violations
        p. 
            Using the Service in violation of applicable law and regulation, including, but not limited to, advertising, transmitting, or otherwise making available ponzi schemes, pyramid schemes, fraudulently charging credit cards, pirating software, or making fraudulent offers to sell or buy products, items, or services.
            Uttering threats;
            Distribution of pornographic materials to minors; 
            and Child pornography.
        p. 
            Examples of Unacceptable Uses

        p. 
            The following are representative examples only and do not comprise a comprehensive list of unacceptable uses:

        p. 
            High bandwidth operations, such as large file transfers and media sharing with peer-to-peer programs (i.e.torrents)
            Obscene or indecent speech or materials
            Defamatory or abusive language
            Using the Service to transmit, post, upload, or otherwise making available defamatory, harassing, abusive, or threatening material or language that encourages bodily harm, destruction of property or harasses another.
            Forging or misrepresenting message headers, whether in whole or in part, to mask the originator of the message.
            Facilitating a Violation of these Terms of Use
            Hacking
            Distribution of Internet viruses, Trojan horses, or other destructive activities
            Distributing information regarding the creation of and sending Internet viruses, worms, Trojan horses, pinging, flooding, mail-bombing, or denial of service attacks. Also, activities that disrupt the use of or interfere with the ability of others to effectively use the node or any connected network, system, service, or equipment.
            Advertising, transmitting, or otherwise making available any software product, product, or service that is designed to violate these Terms of Use, which includes the facilitation of the means to spam, initiation of pinging, flooding, mail-bombing, denial of service attacks, and piracy of software.
            The sale, transfer, or rental of the Service to customers, clients or other third parties, either directly or as part of a service or product created for resale.
            Seeking information on passwords or data belonging to another user.
            Making unauthorized copies of proprietary software, or offering unauthorized copies of proprietary software to others.
            Intercepting or examining the content of messages, files or communications in transit on a data network.
        
        p.
            Thanks for using our product.
            
        a(href='https://github.com/freedomson/playkubo') PLAYKUBO is open source software