---
#
# Tasks to be applied to some servers
#
- template:
    src: "{{playbook_dir}}/roles/playkubo/templates/configure-ap-and-wifi.sh"
    dest: /home/pi/configure-ap-and-wifi.sh
    owner: pi
    mode: 0775

- name: Prepare AP and Wifi
  become: true
  become_method: sudo
  shell: /home/pi/configure-ap-and-wifi.sh {{provider_ssid}} {{provider_psk}} {{playkubo_ssid}} {{playkubo_psk}}

- name: Disallow password authentication
  become: true
  become_method: sudo
  lineinfile: dest=/etc/ssh/sshd_config
              regexp="^#PasswordAuthentication"
              line="PasswordAuthentication no"
              state=present
  notify: Restart ssh
  when: hostvars['localhost']['ssh_status'] == 1

- name: Disallow root SSH access
  become: true
  become_method: sudo
  lineinfile: dest=/etc/ssh/sshd_config
              regexp="^#PermitRootLogin"
              line="PermitRootLogin no"
              state=present
  notify: Restart ssh
  when: hostvars['localhost']['ssh_status'] == 1
...
