# SERVICE NODEJS
- block:
  - name: Ensure directory structure exists
    file:
      path: '/home/pi/src/{{ item.path }}'
      state: directory
    with_filetree: '{{playbook_dir}}/roles/playkubo/templates/services/src'
    when: item.state == 'directory' and (item.path | search("node_modules")) == false

  - name: Ensure files are populated from templates
    template:
      src: '{{ item.src }}'
      dest: '/home/pi/src/{{ item.path }}'
    with_filetree: '{{playbook_dir}}/roles/playkubo/templates/services/src'
    when: item.state == 'file' and (item.path | search(".jpeg")) == false

- block:


  - template:
      src: "{{playbook_dir}}/roles/playkubo/templates/services/nodejs.dockerfile"
      dest: /home/pi/nodejs.dockerfile
      owner: pi
      mode: 0775

  - name: Installing Container NODEJS
    become: true
    become_method: sudo
    shell: docker build -t playkubo -f nodejs.dockerfile .
    register: dockerinstall

  - debug: msg="{{ dockerinstall.stdout }}"

  - name: Starting Container NODEJS
    become: true
    become_method: sudo
    shell: docker run -d -p 8080:8080 -ti playkubo
    register: dockerrun

  - debug: msg="{{ dockerrun.stdout }}"